@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --code-block-background-color: #2a2a2a;
  --scrollbar-track-background-color: #717171;
  --scrollbar-thumb-background-color: rgba(32, 34, 37, 0.6);
  --scrollbar-color: rgba(32, 34, 37, 0.6) #5a5a5a;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background-color);
}

.main-bg-full {
  z-index: 1;
  background: radial-gradient(#0f172a, #101c31);
}
/* .main-bg-full::after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/172/34/484/code-coding-geek-programmer-wallpaper-preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px); /* Adding blur background image */
/* z-index: -1; */
/* }  */

lottie-player#grow-banner-lottie {
  height: 100% !important;
  width: 100% !important;
}
